@model LibraryProject.Models.Entity.Members
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("AddMember", "Member", FormMethod.Post))
    {
        <br />
        <label>Member Name</label>
        @Html.TextBoxFor(x => x.MemberName, new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberName, "", new { @style = "color:red" })
        <br />
        <label>Member Surname</label>
        @Html.TextBoxFor(x => x.MemberSurname ,new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberSurname, "", new { @style = "color:red" })
        <br />
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.MemberPhone, new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberPhone, "", new { @style = "color:red" })
        <br />
        <label>School</label>
        @Html.TextBoxFor(x => x.MemberSchool, new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberSchool, "", new { @style = "color:red" })
        <br />
        <label>Username</label>
        @Html.TextBoxFor(x => x.MemberUsername, new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberUsername, "", new { @style = "color:red" })
        <br />
        <label>Password</label>
        @Html.TextBoxFor(x => x.MemberPassword, new { @class = "form-control", style = "width:50%" })
        @Html.ValidationMessageFor(x => x.MemberPassword, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-primary">Add New Member</button>
    }
</div>