@model IEnumerable<LibraryProject.Models.Entity.Rents>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-2 mb-2 text-center">

    <table class="table table-bordered">
        <tr>
            <th>Rent ID</th>
            <th>Book</th>
            <th>Member</th>
            <th>Employee</th>
            <th>Rental Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th>Return Book</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RentId</td>
                <td>@item.Books.BookName</td>
                <td>@item.Members.MemberName @item.Members.MemberSurname</td>
                <td>@item.Employees.EmployeeName</td>
                <td>@Convert.ToDateTime(item.RentalDate).ToShortDateString()</td>
                <td>@Convert.ToDateTime(item.ReturnDate).ToShortDateString()</td>
                @if (@item.Status == true)
                {
                    <td style="color:green"><b>Rented</b></td>
                }
                <td><a href="/Rent/ReturnBook/@item.RentId" class="btn btn-danger">Return</a></td>
            </tr>
        }
    </table>
    <a href="/Rent/RentBook/" class="btn btn-primary">Rent Book</a>
</div>